     body {
            font-family: Arial, sans-serif;
            margin: 20px;
            text-align: center;
            background:linear-gradient(blue, red);
            background-size: 400px 800px;
        }
        h1 {
            color: black;
        }

        p {
            color: black;
            font-size: 18px;
        }
            input {
                padding: 10px;
                font-size: 16px;
                margin-top: 20px;
            }
            button {
                padding: 10px 20px;
                font-size: 16px;
                margin-left: 10px;
                cursor: pointer;
            }

                   